#Files
.git
.gitignore
.cache
.idea
.dockerignore

**/__pychache__
**/*.egg-info
**.pyc
**.pytest_cache
**.ipynb
**.bat
**.egg-info
**/build

# folders
docs
notebooks
tests
requirements

# files
.dockerignore
.gitignore
.pre-commit-config.yaml
Dockerfile
LICENSE
Makefile
README.md
