#app-header > * {
    background-color: rgb(94, 123, 123);
    height: 75px
}

#app-title > * {
    color: white;
}

#gh-link, #bug-link, #linkedin-link, #support-link, #social > * {
    color: white;
    margin-bottom: 50px;
    min-width: auto;
}

.card {
    margin: 1em 0 1em 0;
    min-width: auto;
}


